<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylemain.css">
<div class='split-pane col-xs-12 uiux-side'>
    <div>
        <img src='/icons/Pulque.svg'>
        <div class='text-content'>
            <div class="bold">Quiero</div>
            <div class='big'>BEBER</div>
        </div>
        <button onclick= "window.location.href = '/menu/drinks';">
            Carta de Bebidas
        </button>
    </div>
</div>
<div class='split-pane col-xs-12 frontend-side'>
    <div>
        
        <img src='/icons/Molletes.svg'>
        <div class='text-content'>
            <div class="bold">Quiero</div>
            <div class='big'>COMER</div>
        </div>
        <a class='button' href ='/menu/coctails'>
            Carta de Alimentos
        </a>
    </div>
</div>

<div style="text-align: center;">
    
    <img class="centered" width="200" src="/invertedlogo.png">
    
</div>